.faqs{
    padding: 100px 0;
    
    .card{
        border-radius: 0;
        border: 0;
        margin-bottom: 30px;

        .card-header{
            padding: 0;
            border-radius: 0;
            border: 0;
            background: none;

            .btn-link{
                position: relative;
                display: block;
                width: 100%;
                text-align: left;
                border: 0;
                background: none;
                color: $blue;
                font-size: 21px;
                font-weight: $bold;
                padding: 20px 0;
                border-bottom: 1px solid #979797;
                text-decoration: none;
                transition: all 0.5s;
                
                &:after{
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-image: url(img/icons.png);
                    background-repeat: no-repeat;
                    background-size: 23px;
                    background-position-y: -393px;
                    background-position-x: -4px;
                    right: 20px;
                    top: calc(50% - 8px);
                    transform: rotate(180deg);
                    transition: transform 0.5s;
                    
                }
                
                &.collapsed{
                    color: #7B7B7B;
                    transition: all 0.5s;
                    
                    &:after{
                        background-size: 43px;
                        background-position-y: -956px;
                        background-position-x: -14px;
                        transform: rotate(0);
                        transition: transform 0.5s;
                    }
                }

                &:hover{
                    text-decoration: none;
                }

                &:focus{
                    outline: none;
                }
            }
        }

        .card-body{
            padding: 35px 0 0;
            color: #7B7B7B;
        }
    }

}