.get-quote{
    background: #f9f9f9;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 100px 0;
    
    .form-container{
        max-width: 855px;
        margin: 0 auto;
        margin-top: 100px;
        
        label{
            font-size: 16px;
            letter-spacing: 1px;
        }
        
        .submit{
            background-position: right 10px center;
            background-image: url(img/icons.png);
            background-repeat: no-repeat;
            background-size: 48px;
            background-position-y: -108px;
            padding-right: 58px;
        }
    }
    
    .full{
        width: 100%;
        text-align: right;
    }
}