.hero{
    position: relative;
    padding: 100px 0;
    
    &:after{
        content: "";
        position: absolute;
        background: $white;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index: 1;
        opacity: 0.6;
        
        @include respond-to('medium'){
            display: none;
        }
    }
    
    .container{
        position: relative;
        z-index: 2;
        
        @include respond-to('xsmall'){
            max-width: 100%;
        }
    }
    
    @include respond-to('xsmall'){
        .btn-full{
            display: block;
            border-radius: 0;
            text-align: center;
            margin: 0;
            padding: 40px 0;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
        }
    }
    
    .content{
        padding-bottom: 200px;
        
        @include respond-to('medium'){
            padding-bottom: 0;
        }
    }
    
    p{
        font-size: 18px;
        line-height: 2;
        color: #7B7B7B;
        
        @include respond-to('medium'){
            font-size: 20px;
            line-height: 1.4;
        }
    }

    .background{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
        img{
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
}