#quick-quote{
    background: rgba(42, 72, 107, 0.8);
    align-items: center;
    
    &.show{
        display: flex !important;
    }
    
    .modal-dialog{
        
        @include respond-to('medium'){
            max-width: 90%;
        }
        
        .modal-content{
            border-radius: 0;
            
            .modal-body{
                padding: 0 30px 60px;
                position: relative;
                
                @include respond-to('medium'){
                    padding: 0 60px 45px;   
                }
                
                .close{
                    color: $red;
                    opacity: 1;
                    position: absolute;
                    right: 20px;
                    top: 10px;
                }
                
                
                .title{
                    width: 100%;
                    font-size: 26px;
                    font-weight: $bold;
                    color: $blue;
                }
                
                .subtitle{
                    width: 100%;
                    font-size: 19px;
                    font-weight: $bold;
                    color: $blue;
                    font-style: italic;
                    margin: 20px 0;
                }

                .title-input{
                    font-size: 21px;
                    color: #7B7B7B;
                    margin-bottom: 10px;
                }
                
                p{
                    font-size: 15px;
                    margin-bottom: 30px;
                    color: #979797;
                }
                
                .message{
                    margin-bottom: 20px;
                }
                
                .title-description {
                    margin-top: 0;
                    
                    p{
                        font-size: 20px;
                        line-height: 2;
                        color: #575757;
                        margin: 0;

                        @include respond-to('medium'){
                            font-size: 26px;
                            line-height: 1.4;
                        }
                    }
                }
                
                .first-row{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    
                    .input-container {
                        @include respond-to('small'){
                            width: 300px;
                            margin-bottom: 30px;
                        }
                    }
                }
                
                .input-container {
                    @include respond-to('small'){
                        width: 22%;
                        margin-bottom: 25px;
                    }
                }
                
                input[type=radio]{
                    margin-left: 1px;
                }
                
                input[type=file]{
                    font: 400 13px system-ui;
                }
                
                .file-size{
                    font-size: 16px;
                    color: #A2A2A2;
                    font-style: italic;
                    margin-top: 15px;
                    margin-bottom: 0;
                }
                
                label{
                    font-size: 16px;
                    color: #7B7B7B;
                }
                
                .submit{
                    margin-top: 10px;
                }
            }
        }
    }
} 