#quick-quote{
    background: rgba(42, 72, 107, 0.8);
    
    .modal-dialog{
        
        @include respond-to('medium'){
            max-width: 1000px;
        }
        
        .modal-content{
            border-radius: 0;
            
            .modal-body{
                padding: 0 30px 60px;
                position: relative;
                
                @include respond-to('medium'){
                    padding: 0 60px 60px;   
                }
                
                .close{
                    color: $red;
                    opacity: 1;
                    position: absolute;
                    right: 20px;
                    top: 10px;
                }
                
                
                .title{
                    width: 100%;
                    font-size: 26px;
                    font-weight: $bold;
                    color: $blue;
                }
                
                .subtitle{
                    width: 100%;
                    font-size: 21px;
                    font-weight: $bold;
                    color: $blue;
                    font-style: italic;
                    margin: 30px 0;
                }

                .title-input{
                    font-size: 21px;
                    color: #7B7B7B;
                    margin-bottom: 10px;
                }
                
                p{
                    margin-bottom: 30px;
                }
                
                textarea{
                    margin-bottom: 50px;
                }
                
                .overflow-hidden{
                    width: 100%;
                    
                    .left{
                        float: none;
                        margin-bottom: 20px;
                        
                        @include respond-to('medium'){
                            float: left;
                            margin-bottom: 0;
                        }
                    }
                    
                    .right{
                        float: none;
                        
                        @include respond-to('medium'){
                            float: right;
                        }
                    }
                }
                
                input[type=radio]{
                    margin-left: 1px;
                }
                
                input[type=file]{
                    font: 400 13px system-ui;
                }
                
                .file-size{
                    font-size: 16px;
                    color: #A2A2A2;
                    font-style: italic;
                    margin-top: 15px;
                    margin-bottom: 0;
                }
                
                label{
                    font-size: 16px;
                    color: #7B7B7B;
                }
                
                .submit{
                    margin-top: 30px;
                }
            }
        }
    }
} 