.partners{
    text-align: center;
    padding: 50px 0 100px;
    background: linear-gradient(#FFFFFF 84%, #F0F0F0);
    
    @include respond-to('small'){
        padding: 100px 0 20px;
    }
    
    .title{
        font-size: 24px;
        color: $blue;
        margin-bottom: 50px;
    }
    
    .partners-slider{
        font-size: 0;
        
        li{
            @include respond-to('small'){
                margin: 100px 0;    
            }
             
            img{
                display: inline-block;
                width: 31.3%;
                margin: 20px 1%;
                
                @include respond-to('small'){
                    width: 14.6%;
                    margin: 0 1%;
                }
            }
        }
        
        
    }
}