.products-list{
    margin-bottom: 50px;
    
    .product{
        text-align: center;
        display: block;
        margin-bottom: 20px;
        position: relative;
        
        .product-colours{
            position: absolute;
            top: 15px;
            right: 15px;
            width: 10px;
            
            li{
                overflow: hidden;
                margin-bottom: 6px;
                text-indent: 100%;
                width: 10px;
                height: 10px;
                border-radius: 12px;
            }
        }
        
        .img-container{
            width: 100%;
            height: 180px;
            background: #F4F4F4;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s;
            
            @include respond-to("medium"){
                height: 250px;
            }
            
            img{
                max-width: 100%;
            }
        }
        
        .name{
            font-size: 17px;
            max-width: 180px;
            line-height: 1.2;
            margin: 15px auto;
            
            @include respond-to('medium'){
                font-size: 23px;
            }
        }
        
        .btn-full{
            width: fit-content;
            margin: 0 auto;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
            display: none;
            
            @include respond-to("medium"){
                display: block;
            }
        }
        
        &:hover{
            .img-container{
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.12);
                transition: all 0.5s;
            }
            
            .btn-full{
                opacity: 1;
                visibility: visible;
                transition: all 0.5s;
            }
        }
    }

    .right{
        margin-left: auto;
    }
    
    .cant-find{
        text-align: center;
        background-image: linear-gradient(#e5e5e5, #fbfbfb);
        box-shadow: 0 10px 18px rgba(0, 0, 0, 0.12);
        padding: 20px 0 5px;
        
        .title{
            color: $blue;
            font-weight: $bold;
            font-size: 26px;
        }
        
        .btn-full{
            max-width: 100%;
            display: block;
            font-size: 19px;
            width: 325px;
            margin: 18px auto;
            padding: 12px;
        }
    }
} 