.page-blog{
    background: rgba(204, 204, 204, 0.15);
    
    header{
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .hero{
        padding-top: 250px;
        padding-bottom: 0;
        margin-bottom: 20px;

        @include respond-to('medium'){
            padding-bottom: 250px;
            margin-bottom: -100px;
        }
        
        .subscription{
            font-size: 0;
            margin-top: 30px;
            max-width: 450px;
            
            .email{
                display: inline-block;
                width: 60%;
                background-position: left -1px center;
                font-size: 16px;
                color: #7B7B7B;
                border: 1px solid #7B7B7B;
                border-right: 0;
                border-radius: 50px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding: 12px;
                padding-left: 45px;
                background-image: url(img/icons.png);
                background-repeat: no-repeat;
                background-size: 55px;
                background-position-y: -68px;
                
                &::placeholder{
                    color: #7B7B7B;
                }
            }
            
            .btn-full{
                display: inline-block;
                width: 40%;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin: 0;
                padding: 13px;
                border: 0;
            }
        }
        
        .background{
            img{
                object-position: 65% 0%;
                
                @include respond-to('medium'){
                    object-position: center;
                }
            }
        }
    }
    
    .pagination{
        margin-top: 30px;
    }
}