.page-blog{
    background: rgba(204, 204, 204, 0.15);
    
    header{
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .hero{
        padding-top: 250px;
        padding-bottom: 0;
        margin-bottom: 20px;

        @include respond-to('medium'){
            padding-bottom: 250px;
            margin-bottom: -100px;
        }
        
        .subscription{
            font-size: 0;
            margin-top: 30px;
            max-width: 450px;
            
            .email{
                display: inline-block;
                width: 60%;
                background-image: url(img/icons/mail-gray.png);
                background-position: left 15px center;
                background-repeat: no-repeat;
                background-size: 20px;
                padding-left: 28px;
                font-size: 16px;
                color: #989898;
                border: 1px solid #A2A2A2;
                border-right: 0;
                border-radius: 50px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding: 12px;
                padding-left: 45px;
            }
            
            .btn-full{
                display: inline-block;
                width: 40%;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin: 0;
                padding: 13px;
                border: 0;
            }
        }
        
        .background{
            img{
                object-position: 65% 0%;
                
                @include respond-to('medium'){
                    object-position: center;
                }
            }
        }
    }
    
    .pagination{
        margin-top: 30px;
    }
}