.page-categories{
    header{
        @include respond-to('medium'){
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
    .hero{
        padding-top: 250px;
        padding-bottom: 0;

        @include respond-to('medium'){
            padding-bottom: 50px;
        }
        
        .background{
            img{
                object-position: 65% 0%;
                
                @include respond-to('medium'){
                    object-position: center;
                }
            }
        }
        
        .hero-title{
            max-width: 65%;
            
            @include respond-to('medium'){
                 max-width: 100%;
            }
        }
        
        .partners-hero{
            display: none;
            
            @include respond-to('medium'){
                display: block;
            }
        }
    }
    
    .easy-process{
        .box{
            background: #fff;
            margin-bottom: 30px;
            transition: all 0.5s;
            display: flex;
            align-items: center;
            
            @include respond-to('large'){
                padding: 20px 50px;
            }
            
            &:hover{
                box-shadow: 0 30px 50px -16px rgba(0,0,0,0.15);
                transition: all 0.5s;
            }
            
            .icon{
                margin-right: 50px;
            }
            
            .title {
                font-size: 24px;
                color: #325781;
                margin: 15px 0;
            }
            
            p{
                font-size: 15px;
                color: #7B7B7B;
            }
        }
    }
}