.btn-full{
    display: inline-block;
    background-color: $red;
    color: $white;
    font-weight: $bold;
    border-radius: 50px;
    font-size: 16px;
    padding: 12px 30px;
    letter-spacing: 0.2px;
    border: 0;
    transition: all 0.5s;
    
    &:hover{
        color: $white;
        background-color: #af2b45;
        transition: all 0.5s;
    }
    
    &.blue-bg{
        background-color: $blue;
        
        &:hover{
            background-color: #274669;
        }
    }
    
    &.arrow-down{
        background-image: url(img/icons.png);
        background-repeat: no-repeat;
        background-size: 48px;
        background-position: right 5px center;
        background-position-y: -622px;
        padding-right: 50px;
    }
    
    &.arrow-right{
        background-image: url(img/icons.png);
        background-repeat: no-repeat;
        background-size: 48px;
        background-position: right center;
        background-position-y: -313px;
        padding-right: 45px;
    }
    
    &.upper{
        text-transform: uppercase;
    }
    
    
}

.red-lnk{
    font-size: 16px;
    font-weight: $bold;
    color: $red;
    text-transform: uppercase;
    position: relative;
    
    &:after{
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background: $red;
        left: 50%;
        bottom: -8px;
        transition: all 0.5s;
    }
    
    &.arrow-right{
        background-image: url(img/icons.png);
        background-repeat: no-repeat;
        background-size: 48px;
        background-position: right -20px center;
        background-position-y: -924px;
        padding-right: 20px;
    }
    &.arrow-down{
        background-image: url(img/icons.png);
        background-repeat: no-repeat;
        background-size: 36px;
        background-position: right -10px center;
        background-position-y: -573px;
        padding-right: 25px;
    }
    &.arrow-up{
        background-image: url(img/icons.png);
        background-repeat: no-repeat;
        background-size: 48px;
        background-position: right -15px center;
        background-position-y: -722px;
        padding-right: 25px;
    }
    
    &:hover{
        color: $red;
        
        &:after{
            width: 100%;
            left: 0;
            transition: all 0.5s;
        }
    }
}