.pagination{
    margin-bottom: 100px;
    
    .page-numbers{
        width: 100%;
        text-align: center;
        
        li{
            display: inline-block;
            margin: 0 8px;
            vertical-align: middle;
            
            a{
                display: block;
                font-size: 19px;
                color: #989898;
                
                &.current{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                    width: 37px;
                    height: 37px;
                    border-radius: 50px;
                    color: $white;
                    background: $red;
                    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.36);
                }
                
                &.next{
                    width: 37px;
                    height: 37px;
                    border-radius: 50px;
                    background-color: #F0F0F0;
                    background-image: url(img/icons.png);
                    background-repeat: no-repeat;
                    background-size: 48px;
                    background-position: center;
                    background-position-y: -225px;
                    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.36);
                    
                }
            }
        }
    } 
}