#container-content-show-more{
    #content-show-more{
        overflow: hidden;
        transition: all 0.5s;   
    }
    
    .morelink{
        text-align: center;
        padding: 20px 0;
    }
    
}
